Source: sugar-maze-activity
Section: x11
Priority: optional
Maintainer: Debian Sugar Team <pkg-sugar-devel@lists.alioth.debian.org>
Uploaders: Martin Abente Lahaye <tch@sugarlabs.org>
Build-Depends: cdbs (>= 0.4.90~),
 devscripts,
 debhelper,
 dh-buildinfo,
 python,
 python-sugar3,
 unzip
Standards-Version: 3.9.1
X-Python-Version: 2.7
Vcs-Git: https://github.com/tchx84/debian-sugar-maze-activity.git
Vcs-Browser: https://github.com/tchx84/debian-sugar-maze-activity.git

Package: sugar-maze-activity
Architecture: all
Depends: ${shlibs:Depends}, ${python:Depends}, ${cdbs:Depends}, ${misc:Depends}
Recommends: ${cdbs:Recommends}
Provides: ${python:Provides}, ${cdbs:Provides}
Conflicts: ${cdbs:Conflicts}
Replaces: ${cdbs:Replaces}
Description: Sugar Maze activity
 Sugar is a graphical user interface aimed at children.
 .
 Maze is a multi-player maze game. You can play with one,
 two or three players in a single machine or even more
 with Sugar collaboration.
